.heading1 {
  font-weight: 600;
  font-size: 24px;
}

.outer {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.homeImage {
  width: 90%;
  margin: auto;
}

#fullLength {
  background-color: #2b3148;
  padding: 15px 0 30px 0;
  color: white;
}

.footer {
  margin-top: 2%;
}
