.cinemaContainer {
  margin-top: 0%;
  width: 100%;
}
.navbar {
  width: 100%;
  margin-top: 0%;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1%;
}
.dropdown-content button {
  border: none;
  border: 1px solid transparent grey;
  padding: 1%;
  color: red;
  margin-left: 5%;
}
.theatre {
  width: 100%;
  margin-top: 2%;
  border-radius: 25%;
}
.theatre button {
  color: red;
  border: 0.6px solid grey;
  padding: 1%;
  border-radius: 18%;
  margin-left: 3%;
}
.footer {
  margin-top: 2%;
}
