.gridDiv {
  display: grid;
  grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
  grid-template-rows: 446px;
  grid-gap: 1.25%;
  width: 200%;
}
.gridDiv div {
  cursor: pointer;
}

.gridDiv img {
  width: 100%;
  border-radius: 10px;
}

.movieTitle {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 500;
}
